# Binaries & Executables
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
/pandora
/pandora-relay
pv
pv.exe

# Environment & Logs
.env
*.env
*.log

# OS / Editor
.DS_Store
.vscode/
.idea/

# Local Credentials & Secrets
*.json
